h1{
    color: white;
text-align: center;
background-color: #303A2B;
}
video,h1:hover{
box-shadow: 0 0 40 px rgb(245,9,245),
            0  0 75px  rgb(245,9,245);
            border: 1px solid rgb(245,9,245);  

}
video 
{
    height: 400px;
    width: 400px ;
    border: 4px solid white;
    background-color: pink;
}